
html {
   scroll-behavior: auto !important;
}
:root {
   --main-color: #ff206e;
   --transition-dur: 0.6s;
}
::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background-color: #ccc;
}
::-webkit-scrollbar-thumb {
   background-color: var(--main-color);
}
.main-color {
   color: var(--main-color) !important;
}
.main{
   font-family: "Poppins", sans-serif; background-color:#1f1f1f;
   width: 100%;
   overflow: auto;
   
}
.p1 h1 {
   text-align: center;
   padding-top: 10px;
   font-size: 5.5em;
   font-weight: 400;
   font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: #1F1F1F;
   -webkit-text-stroke: 1px #949494;
 }
 
 .p1 h2 {
   position: absolute;
   top: 25%;
   right: 31%;
   color: #949494;
   font-size: 2em;
 }

ul {
   list-style: none;
}
a {
   text-decoration: none;
}


@media (max-width: 575.98px) {
   :root {
      font-size: 14px;
   }
}
.color{
   background-color:#353535;
   border: 10px solid #1f1f1f;
   border-radius:5%;
   -webkit-border-radius:5%;
   -moz-border-radius:5%;
   -ms-border-radius:5%;
   -o-border-radius:5%;
}
.color:hover{
   background-color:#ffffff;
   
}



.bg-opacity-60 {
   opacity: 0.6;
}
.let-space {
   letter-spacing: 2px;
}

/* Start Protofolio */
.main{
   
   height:100vh;
   display: flex;
  
  
}
.main ul,div{
   justify-content: center;
   text-align: center;
   
   
}

.products .content button {
   color: white;
   font-weight: 500;
   font-size: 0.88rem;
}
.products .content button.active {
   color: red;
   background-color: unset;
}
.products .content .row [class="position-relative"] {
   overflow: hidden;
   transform: scale(0);
   animation: gallary-photo 0.4s ease-in-out forwards;
}
@keyframes gallary-photo {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}
.products .content .tab-pane.active .row [class="position-relative"] {
   animation: gallary-photo 0.4s ease-in-out forwards;
}
.products .content .row [class="position-relative"] img {
   transition: transform 0.3s;
}
 img:hover,item:hover {
   transform: scale(1.15);
}
.products .content .row [class="position-relative"]::after,
.products .content .row [class="position-relative"]::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   background-color: #fff;
   padding: 5px;
   white-space: nowrap;
   display: none;
   z-index: 10;
}
.products .content .row [class="position-relative"]:hover::after,
.products .content .row [class="position-relative"]:hover::before {
   display: block;
}
.item {
   overflow: hidden;
   cursor: pointer;
}

/* .products .content .row [class="position-relative"]::after {
   
}
.products .content .row [class="position-relative"]::before {
   
} */

/* End Protofolio */